:global(.ant-menu-submenu-title),
:global(.ant-menu-item) {
  &:hover {
    background-color: #ffffff !important;
  }
}
:global(.ant-menu-submenu-title) {
  padding: 0px !important;
  height: 60px !important;
}
:global(.ant-menu-submenu:nth-child(n + 2)) {
  border-top: 1px solid #eeeeee !important;
  border-radius: 0px !important;
}

:global(.ant-menu) {
  background-color: #ffffff !important;
}
:global(.ant-menu-item) {
  padding: 0px !important;
  height: fit-content !important;
}
.menu-container {
  border: none !important;
}
:global(.ant-menu-title-content) {
  font-size: 16px !important;
  font-weight: normal !important;
}
:global(.size-button-menu) {
  // max-width: 47px;
  margin: 0 15px 15px 0;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
