@import "../../styles/responsive.scss";

.card-container {
  width: 17rem;
  margin: 0 auto;
  padding: 0.5rem;

  @include respond("mobile") {
    width: 100%;
  }

  @include respond("tablet") {
    width: 14rem;
  }

  @include respond("laptop") {
    width: 16rem;
  }

  @include respond("pc") {
    width: 17rem;
  }
}

.product-card {
  :global(.ant-card-body) {
    padding: 10px 0 !important;
  }
}

.card-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.product-card-content {
  width: 100%;
  padding: 0;
}

.product-card-name {
  font-weight: 700;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  display: block;

  @include respond("mobile") {
    font-size: 14px;
  }
}

.rating-container {
  display: flex;
  align-items: center;
  gap: 6px;
}

.rating {
  font-size: 14px;
}

.rating-text {
  font-size: 13px;
  color: #888;
  margin-top: 5px;
  margin-bottom: 5px;
}

.product-card-reviews {
  color: #888;
  font-size: 12px;
}

.product-card-price {
  font-size: 18px;
  font-weight: bold;

  @include respond("mobile") {
    font-size: 20px;
  }
}

.product-card-original-price {
  color: #888;
}

.product-card-discount {
  background-color: #ff33331a;
  color: red;
  padding: 6px 14px;
  border-radius: 62px;
}

.section {
  padding: 0rem 10rem;

  @include respond("pc") {
    padding: 0 12rem;
  }

  @include respond("laptop") {
    padding: 0 6rem;
  }

  @include respond("tablet") {
    padding: 0 2rem;
  }

  @include respond("mobile") {
    padding: 0 1rem;

    .slick-slide {
      display: flex;
      justify-content: center;
    }
  }
}

.section-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0 1rem 0;

  @include respond("mobile") {
    text-align: center;
  }
}

:global(.section-title) {
  font-weight: 500 !important;
  font-size: 28px !important;
  margin: 0 !important;

  @include respond("mobile") {
    font-size: 32px !important;
  }
}

.view-all-container {
  text-align: center !important;
  margin: 0 0 3rem 0;
}

.view-all-button {
  background-color: #ffffff;
  color: #000000;
  font-weight: 500;
  font-size: 14px;
  border-radius: 3.875rem;
  border: 1px solid #e4e4e4ee;
  width: 200px;
  height: 52px;
  cursor: pointer;

  &:hover {
    border: 1px solid black !important;
    background-color: #000000 !important;
    color: white !important;
  }
}

:global(.slick-track) {
  padding: 1rem 0;
}

.slick-prev,
.slick-next {
  width: 30px;
  height: 30px;
  z-index: 1;
}

.slick-prev {
  left: -40px;
}

.slick-next {
  right: -40px;
}

// Thêm animation cho overlay
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.image-container {
  position: relative;
  width: 100%;
  height: 298px;
  overflow: hidden;
}

.new-tag {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  padding: 4px 12px 4px 8px;
  font-size: 11px;
  font-weight: 600;
  z-index: 2;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  &:global(.new) {
    background: #f6931d;
  }

  &:global(.best-seller) {
    background: #ac2f33;
  }
}

.product-discount-tag {
  position: absolute;
  top: 0px;
  right: 0px;
  color: white;
  padding: 4px 12px 4px 8px;
  font-size: 11px;
  font-weight: 600;
  z-index: 2;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: #f44336;
  margin: 8px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.2s ease;
  backdrop-filter: blur(2px);
}
