@import "../../styles/variables.scss";
.layout {
  width: 80%;
  margin: auto;
  padding: 20px;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.layoutContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  gap: 48px;
}

.mainContent {
  flex: 2;
}

.sidebar {
  flex: 1;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.pageTitle {
  font-size: 18px;
  font-weight: 600;
  color: $text-color;
  margin-bottom: 24px;
}

.formSection {
  margin-bottom: 30px;
}

.paymentOption {
  border: 1px solid #ccc;
  border-radius: $border-radius;
  padding: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: $transition;

  &.selected {
    border-color: #1890ff;
    background-color: #e6f7ff;
  }
}

.selected {
  border-color: #000;
}

.buttonGroup {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  margin-top: 24px;
}

.primaryButton {
  background-color: $color-primary;
  color: white;
  border: none;
  padding: 10px 24px;
  border-radius: $border-radius;
  cursor: pointer;
  font-weight: 500;
  transition: $transition;
  min-width: 120px;
  text-align: center;

  &:hover {
    background-color: darken($color-primary, 10%);
  }
}

.secondaryButton {
  background-color: $secondary-color;
  color: $text-color;
  border: none;
  padding: 10px 24px;
  border-radius: $border-radius;
  cursor: pointer;
  font-weight: 500;
  transition: $transition;
  min-width: 120px;
  text-align: center;

  &:hover {
    background-color: darken($secondary-color, 5%);
  }
}

:global(.ant-radio-wrapper) {
  width: 100%;
  margin-right: 0;
}

:global(.ant-radio-checked .ant-radio-inner) {
  border-color: $color-primary;

  // &::after {
  //   background-color: $color-primary;
  // }
}

:global(.ant-form-item) {
  margin-bottom: 16px;
}

.qrImageContainer {
  width: 100%;
  margin: auto;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}

.timerText {
  text-align: center;
  margin-top: 12px;
  font-size: 14px;
  font-weight: 500;
  color: #e53935;
}

.formItem {
  width: 100%;

  label {
    font-weight: 500;
    margin-bottom: 8px;
  }

  input,
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #a1a1a1;
    border-radius: 4px;
    transition: all 0.3s ease;

    &:focus {
      border-color: #1890ff;
      box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
      outline: none;
    }
  }
}
