$min-height-page: 100vh;
$min-height-user-layout-sp: calc(100vh - 0px);
$min-height-user-layout-pc: calc(100vh - 0px);
$color-primary: #000000;
$min-height-input: 42px;
$min-height-btn: 42px;
$box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
$secondary-color: #f5f5f5;
$border-color: #f0f0f0;
$text-color: #333;
$light-text: #666;
$border-radius: 4px;
$transition: all 0.3s ease;