@import "../../styles/responsive.scss";

.nav-wrapper {
  padding: 10px 0px;
  top: 0;
  z-index: 99;
  background: #ffffff;
  width: 100%;
  box-shadow: 0px -1px 0px 0px #f0f0f0 inset;
  border-bottom: 1px solid #f0f0f0;
  :global(.nav-component) {
    // display: flex;
    // align-items: center;
    // justify-content: flex-start;
    // gap: 30px;
    // width: 95%;
    // margin: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    max-width: 1400px;
    width: 80%;
    margin: 0 auto; // căn giữa theo chiều ngang
    // padding: 0 15px; // đảm bảo có padding hai bên
    :global(.logo) {
      display: flex;
      // flex-grow: 1;
      align-items: center;
      justify-content: center;

      img {
        cursor: pointer;
        max-height: 40px;

        @media (max-width: 768px) {
          display: none;
        }
      }

      .brand-name {
        margin-left: 10px;
        font-size: 22px;
        font-weight: 600;
        font-family: "Pacifico", cursive;
        color: #ea7098;
        cursor: pointer;
        user-select: none;
        letter-spacing: 1px;

        @media (max-width: 768px) {
          display: none;
        }
      }
      :global(.btn-expaned-sp) {
        display: block;
        @media (min-width: 992px) {
          display: none;
        }
      }
      :global(.brand-name) {
        margin-left: 10px;
        font-size: 22px;
        font-weight: 600;
        font-family:
          "Pacifico", cursive; // Hoặc chọn font khác nếu bạn dùng Google Fonts
        color: #ea7098; // Màu hồng đậm hiện đại
        cursor: pointer;
        user-select: none;
        letter-spacing: 1px;

        @media (max-width: 768px) {
          display: none;
        }
      }
      @include respond("tablet") {
        justify-content: flex-start;
      }
    }
    :global(.right-group-btn) {
      display: flex;
      align-items: center;
      gap: 15px;
      :global(.drop-down-info) {
        cursor: pointer;
      }
      .shopping-cart-component {
        font-size: 24px;
        cursor: pointer;
      }
      .button-login {
        border-radius: 50px !important;
      }
    }
    @include respond("mobile") {
      gap: 0px;
      margin: auto;
    }
  }
}
